@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-pale-white: #F5F5F5;
    --font-sans: "Roboto", sans-serif;
}