---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="text-2xl font-bold mb-4">About Me</h1>
    <div class="text-base max-w-lg">
        <p class="mb-2">
            A person is more than his/her job title, that's why I'd like to talk
            about things that aren't work-related here.
        </p>
        <p class="mb-2">Some things I like:</p>
        <ul class="list-disc list-inside mb-2">
            <li>
                My favorite writer is Julio Ramón Ribeyro, his book <em
                    >La palabra del mudo</em
                > is sincerely surprising, you can empathize with the characters.
            </li>
            <li>
                My favorite game, or the one I played the most, is <em
                    >Pokemon Emerald</em
                >. I remember playing it since I was a child. I liked to draw
                and invent my own pokemons too.
            </li>
            <li>
                I don't play any instruments, but I'd like to learn to play the
                piano
            </li>
        </ul>
        <p>
            We need to strive for the greater things always. That aren't
            job-related, I've seen many professionals that don't have ethics,
            mistreat the poor, women and other professions. My goal is not
            become them.
        </p>
    </div>
</Layout>
