---
import Layout from "../layouts/Layout.astro";
---

<style>
    h1 {
        margin-bottom: 2rem;
    }
    p {
        margin-bottom: 1rem;
    }
</style>

<Layout>
    <div style="padding: 2rem;">
        <h1>I'm Hristo Roque</h1>
        <div style="max-width: 600px;">
            <p>
                I'm a professional software engineer. I'm currently building my
                portfolio (again). When I'm don
            </p>
            <p>I'm a professional software engineer</p>
            <p>
                I'm a professional software developer from Peru. I studied
                Systems Engineering, which is a fancy title that is sort of a
                umbrella term and fuzzy term. From my professor, the career was
                targeted as a software engineering one.
            </p>
            <p>
                When I was at school, I didn't know what to study, so I chose
                Systems Engineering because I like to play videogames. Since
                videogames had something to do with computers. I didn't want
            </p>

            <p>
                I love math because I sucked at it. I wasn't a good student, but
                by sheer force of discipline, I was able to be really good at
                math.
            </p>
            <p>
                My favorite subject in math was geometry and the special right
                triangles, because that is the topic I understood first.
            </p>

            <p>I think of me as a little sloppy, slow.</p>
        </div>
    </div>
</Layout>
