---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
	<div class="h-svh flex flex-col">
		<header class="p-8 lg:p-16">
			<p class="font-medium lg:text-xl">@aroquega</p>
		</header>
		<section
			class="flex-1 p-8 lg:p-16 flex flex-col justify-center items-start"
		>
			<div class="mb-22 lg:mb-39">
				<h1 class="text-4xl lg:text-6xl font-normal mb-2">
					I'm <b class="font-bold">Hristo Roque</b>
				</h1>
				<p class="text-xl lg:text-4xl font-light">
					I create joyful web experiences
				</p>
			</div>
		</section>
	</div>
</Layout>
