---

---

<header class="p-8 lg:p-16 lg:py-8 flex sticky top-0 left-0 right-0">
    <p class="font-medium lg:text-xl flex-1">
        <a href="/">@aroquega</a>
    </p>
    <ul class="flex gap-4 lg:text-lg">
        <li class="hover:font-medium">
            <a href="/about">About</a>
        </li>
    </ul>
</header>
