---
import "@fontsource/lora/latin-500";
import "@fontsource/lora/latin-400";
import "@fontsource/lora/latin-700";
import "@fontsource/lora/700";

import "../styles/global.css";
import Header from "../components/Header.astro";

interface Props {
    noHeader?: boolean;
    noPadding?: boolean;
}

const { noHeader = false, noPadding = false } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/styles/global.css" />
        <meta name="generator" content={Astro.generator} />
        <title>Hristo Roque</title>
    </head>
    <body class="bg-pale-white">
        <div>
            {noHeader ? null : <Header />}
            <main class={noPadding ? "" : "p-8 lg:p-16 lg:py-8"}>
                <slot />
            </main>
        </div>
    </body>
</html>
